# Imports

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('../data/bitcoin_dataset.csv')

In [13]:
df.replace('?', np.nan, inplace=True)

In [21]:
df

,date,difficulty,sent_addresses,send_usd,market_cap,confirmation_time,transactions,median_transaction_size,mining_profitability,fee_reward,top_100_percent,median_transaction_value,av_transaction_value,block_size,hashrate,active_addresses,google_trends,tweets,price
0,2009-01-03 00-00-00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,204,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4576,NaN,14363025673660,386824,16363800845,602284376905,11.25,226106,0.77,0.248,2.763,15.332,794.361,262533,739841,1.0648710803952e+20,714198,92.666,92346,32109
4577,NaN,14363025673660,350835,12231055118,595575743867,9.6,223316,0.574,0.297,1.812,15.355,715.468,259940,562742,1.0220593489027e+20,661189,90.511,86926,31750
4578,NaN,14348541098817,269883,15303994562,591956104990,10.07,181904,0.415,0.262,1.393,15.233,629.852,322240,475044,1.0924439968164e+20,548038,NaN,73357,31556
4579,NaN,13672594272814,187721,7945136415,595880906407,10,160978,0.325,0.298,1.324,15.22,644.551,231237,480527,9.718285561172e+19,535632,NaN,75089,31763
4580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.217,NaN,NaN,NaN,NaN,651492,NaN,46377,30593

In [20]:
df[["date"]][df["date"].isnull()]

     date
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
...   ...
4576  NaN
4577  NaN
4578  NaN
4579  NaN
4580  NaN

[4580 rows x 1 columns]